<div ng-controller="dividirController">
    <h2>Dividir:</h2>
        
    <input type="text" id="input1" class="form-control" 
    placeholder="Digite o valor 1 aqui." ng-model="objetoGuardaAtributo.valor1"/>

    <input type="text" class="form-control" 
    placeholder="Digite o valor 2 aqui." ng-model="objetoGuardaAtributo.valor2"/>
    
    <button id="resultadoDasOperacoes" class="btn btn-warning btn-filter"
    ng-click="dividir(objetoGuardaAtributo)"> Calcular </button>

    <p>Resultado: {{resultado}}</p>
</div>