<div ng-controller="multiplicarController">
    <h2>Multiplicar:</h2>
        
    <input type="text" id="input1" class="form-control" 
    placeholder="Digite o valor 1 aqui." ng-model="objetoGuardaAtributo.valor1"/>

    <input type="text" class="form-control" 
    placeholder="Digite o valor 2 aqui." ng-model="objetoGuardaAtributo.valor2"/>
    
    <button id="resultadoDasOperacoes" class="btn btn-danger btn-filter"
    ng-click="multiplicar(objetoGuardaAtributo)">Calcular </button>

    <p>Resultado: {{resultado}}</p>
</div>